$background: rgb(198, 229, 248);
$primary: rgb(235, 247, 254);
$secondary: rgba(219, 250, 255, 0.327);
$banner: rgba(3, 15, 52, 0.282);
$text-color: rgb(0, 0, 0);
$text-color-light: rgb(255, 255, 255);
$comment-bg: rgb(255, 255, 255);
$active: rgb(118, 115, 115);
$border: 10px;


